.page-container {
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.boxx {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.left-section {
  height: 100%;
  width: 50%;
}

.right-section {
  width: 50%;
}

.cart-div {
body,
h1,
h2,
h3,
p {
  color: rgb(112, 110, 110);
  font-weight: 400;
}

h3 {
  font-size: 23px;
  color: var(--main-theme-color);
  font-weight: 500;
}
}

.top-left {
  height: 30%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.bottom-left {
  height: 66%;
  border-radius: 8px;
}

.top-right {
  height: auto;
  border-radius: 8px;
}

.bottom-right {
  height: 70px;
  background-color: rgb(231, 172, 120);
  border-radius: 8px;
}

.header {
  border-bottom: 1px solid rgba(247, 240, 240, 0.965);
  padding-bottom: 10px;
}

.body {
  padding-top: 10px;
}

.delivery-body {
  padding-top: 10px;
  gap: 8px;

  p {
    margin: 5px 0;
    font-size: 14px;
  }
}

.map {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.map-image {
  border-radius: 5px;
  height: 50px;
}

.map-icon {
  max-width: 100%;
  height: auto;
}

.payment-form input[type=radio] {
  margin-top: 10px;
  margin-right: 5px;
  color: rgb(0, 128, 0);
}


.promo-field {
  padding-bottom: 20px;
  margin-top: 40px;
  width: calc(100% + 80px);
}

.promo {
  height: 40px;
  width: 100%;
  background-color: rgb(240, 238, 238);
  border-radius: 20px;
  padding: 0 15px;
  align-items: center;
  cursor: text;
}

.apply-button {
  position: relative;
  top: 2px;
  left: -78px;
  text-align: center;
  line-height: 33px;
  height: 36px;
  width: 90px;
  padding-top: 1px;
  border-radius: 20px;
  background-color: var(--main-theme-color);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 500;
}

.totals {
  p {
    margin: 10px 0;
  }
}

.cost {
  display: flex;
  justify-content: space-between;
}

.cost p:first-child {
  font-size: 15px;
}

.cost p:last-child {
  font-weight: 600;
  color: black;
}

.final p:first-child{
  font-size: 18px;
  font-weight: 600;
}

.buttonss {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    width: 100%;
    height: 45px;
    border-radius: 30px;
  }
}

.primary-button {
  background-color: var(--main-theme-color);
  color: white;
}

.secondary {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--main-theme-color);
}

.icon {
  cursor: pointer;
  color: var(--main-theme-color);
}

.productt {
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  align-items: center;
}

.product-imagee {
  width: 90px;
  height: 80px;
  background-color: white;
  margin-right: 10px;
  img {
    width: 100%;
  height: 100%;
  object-fit: contain;
  }
}

.product-details {
  width: 260px;
}

.quantityy {
  width: 100px;
  justify-self: end;
  align-items: center;
  p {
    margin: 0 10px;
  }
}

.count {
  background-color: rgb(255, 255, 255);
  width: 25px;
  border-radius: 3px;
  border: 1px solid rgb(131, 128, 128);
  text-align: center;
}

.review-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}